
  
*{
    Margin:0;
    padding: 0;
   box-sizing: border-box;

}

body{

   background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}



@media (max-width: 1000px){
    section{
        padding: 100px 50px;
    }
}

@media (max-width: 600px){
    section{
        padding: 125px 30px;
    }
}




.menu-wrapperr{

   max-width: 1000px;
   margin: 0 auto;
   
}

.nav-area{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    transition: top .6s;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px;
    overflow: hidden;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    line-height: 40px;
 
}


.logo{

    display: inline-block;
    margin-left: 0;
}




.logo a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}


.menu-wrapper nav{
    float: right;
}

.right-navv{
   
   list-style: none;
   float: right;
   padding-top: 20px;
   padding-bottom: -100px;
}

.right-navv li{
    float: left;
    margin-left: 16px;
}


.right-navv li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.right-navv ul li::after{
   
    content: '';
   height: 3px;
   width: 0%;
   background: rgb(207, 238, 238);
   position:absolute;
   left: 0;
   bottom: -10px;
   transition: 0.5s;    
}

.right-navv ul li:hover::after{
    width: 100%;
}

.banner-area{
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
     background-image: url(/img/keyboardBG.gif);
}

.main-txt{
    max-width: 1000px;
    margin: 100px auto 0;
}

.main-txt h2{
    font-size: 60px;
    text-align: center;
    color:darkgrey;
}

.main-text p{
    font-size: 18px;
    line-height: 1.8;

}

.nav-area.animate{
    top: -71px;
}

.nav-area.sticky{
    top: 0;
    z-index: 99;
}



@media (max-width:1000px){
    header{
        padding: 20px 50px;
    }
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
    header h2{
        margin-bottom: 15px;
    }
    header .nav li{
        margin: 0 7px;
    }
}

.box{
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: aliceblue;
    text-align: center;
}
.box video{
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
object-fit: cover;
z-index: -1;
}


.box h1{
   color: aliceblue;
    margin-bottom: 15px;
    font-size: 65px;
    text-transform: uppercase;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.box h3{
    color:aliceblue;
margin-bottom: 40px;
font-size: 25px;
}

.box a.boxBtn{
    padding: 15px 35px;
    background: transparent;
    border-radius: 50px;
    color: aliceblue;
    text-transform: uppercase;
    border: 4px solid #fff;
    transition: all .5s;
}

.box a.boxBtn:hover{
    background: #fff;
    color: black;
}

@media (max-width: 800px){
    .box{
        min-height: 600px;
    }
    .box h1{
        font-size: 32px;
    }
    .box h3{
        font-size: 20px;
    }
    .box a.boxBtn{
        padding: 15px 40px;
    }
}

.home{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 110px 100px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center; 
    text-transform: capitalize;
    font-weight: 900;
    color: aliceblue;
    margin-bottom: 15px;
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.7);
}

footer{
    background-color:rgba(0, 0, 0, 0.959);
}

.footerContainer{

    width: 100%;
    padding: 60px 20px 10px;

}

.socialIcons{

    display: flex;
    justify-content: center;

}

.socialIcons a{

text-decoration: none;
padding: 8px;
background-color: #79a59b;
margin: 8px;
border-radius: 50%;

}

.socialIcons a i{

    font-size: 4em;
    color:aliceblue;
    opacity: 0.9;
}

.socialIcons a:hover{

    background-color: #cca85f;
    transition: 0.5s;

}

.socialIcons a:hover i{

color: #d2efbe;
transition: 0.5s;

}

.footerNav{
    margin: 8px 0;
}

.footerNav ul{

    display: flex;
    justify-content: center;
    list-style-type: nonedisc;

}
 
.footerNav ul li a{

color: #fff;
margin: 16px;
text-decoration: none;
font-size: 1.2em;
opacity: 0.7;
transition: 0.5s;

}

.footerNav ul li a:hover{

  
    opacity: 1;

    
    }

    .footerBottom{

        background-color: #000;
        padding: 15px;
        text-align: center;

    }

    .footerBottom p{
color: aliceblue;

    }

    .designer{
opacity:0.7;
text-transform: uppercase;
letter-spacing: 0.5px;
font-weight: 250;
margin: 0px 5px;
text-decoration: azure;
    }

    @media (max-width: 700px){

        .footerNav ul{
    flex-direction: column;
        }
        .footerNav ul li{
            width: 100%;
            text-align: center;
            margin: 10px;
                }
    }

    .contact{

        max-width:50%;
        background-position: center;
         
        
    }




    .content{

        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center; 
        text-transform: capitalize;
        font-weight: 900;
        color: aliceblue;
        margin-bottom: 15px;
        text-shadow: 0 3px 4px rgba(0, 0, 0, 0.7);
        
        
        }

    .content h1{

        font-size: 70px;
        margin-top: 80px;
           }
       
           .content p{
       
       margin: 20px auto;
       font-weight: 100;
       line-height: 25px;
       
           }



        
.category{
    width: 100%;
    padding: 60px 0;
    background-color: white;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    flex-wrap: wrap;
}

.category p {
    color: 111;
    text-align: center;
    padding-bottom:40px ;
    flex-basis: 100%;
    text-transform: uppercase;
    font-size: 28px;

}

.category-ss{
    width: 200px;
    height: 200px;
    background-color:#c0bebe3b;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    
}

.category-ss:nth-child(1){
   background-image: url(tv.png);
}

.category-ss:nth-child(2){
    background-image: url(SmartPlug.jpg);
 }

 .category-ss:nth-child(3){
    background-image: url(intercome.jpg);
 }

 .category-ss:nth-child(4){
    background-image: url(amazon-echo.png);
 }

 .category-ss:nth-child(5){
    background-image: url(fridge.png);
 }

 .category-ss:nth-child(6){
    background-image: url(Smart\ light.png);
 }

 .dark-overlay{

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0000003a;
    opacity: 0;
    transition: all ease-in-out 300ms;
 }

 .category-ss:hover .dark-overlay{
    opacity: 0.5;
}

.category-ss h3{
    font-size: 18px;
    line-height: 24px;
    color:rgb(243, 243, 243);
    text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.999);
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    z-index: 100 ;
}


.wrapperr {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	margin: 6% auto 0;
}
.single-card {
	position: relative;
	width: 280px;
	height: 400px;
	margin: 15px;
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
	transition: box-shadow 0.3s ease;
	overflow: hidden;
	background: #b1adad;
	border-radius: 15px;
	transition: all 0.8s ease-in-out;
}
.single-card:hover {
	transform: translateY(-10px);
}
.imgg-area {
	position: relative;
	width: 100%;
	height: 200px;
	overflow: hidden;
}
.imgg-area img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s ease;
}
.imgg-area:hover img {
	transform: scale(1.1);
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(200, 224, 235, 0.8);
	opacity: 0;
	transition: opacity 0.3s ease;
}
.single-card:hover .overlay {
	opacity: 1;
}
.add-to-cart, .view-details {
	background-color: #fff;
	color: #333;
	padding: 10px 15px;
	border-radius: 4px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
	margin-bottom: 10px;
}
.add-to-cart:hover, .view-details:hover {
	background-color: orangered;
	color: #fff;
	border: none;
}
.info {
	padding: 10px;
	text-align: center;
	color: #ddd;
}
.info h3 {
	margin: 15px 0 10px;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Bebas Neue', sans-serif;
}
.info .price {
	margin: 0;
	font-size: 30px;
	font-weight: bold;
	color: rgb(251, 252, 252);
}


.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);

  
  }
  
  /* Caption text */
  .text {
    color: #b3afaf;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #b3afaf;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #eef3f7;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }


  .carousel{
    height: 600px; 
    perspective: 250px;    
    
}
.carousel .carousel-item {
	width: 450px;
	background: #fff;
	padding: 50px;
	height: auto;
	text-align: center;
    border-radius: 15px;
}
.img-area {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 50%;
	border: inset 8px deepskyblue;
}
        .img-area img{
            width: 100%;
        }
       
.testi p {
	color: #262626;
	font-size: 18px;
	line-height: 1.9;
}
        .testi h4 {
	font-size: 20px;
	margin: 0;
	color: #000;
}
        .testi h5 {
	font-size: 14px;
	letter-spacing: 5px;
	margin: 7px 0;
}


body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .hero-image {
    background-image:url("");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }