
  
*{
    Margin:0;
    padding: 0;
   box-sizing: border-box;

}

body{

   
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

section{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 110px 100px;
}

@media (max-width: 1000px){
    section{
        padding: 100px 50px;
    }
}

@media (max-width: 600px){
    section{
        padding: 125px 30px;
    }
}

header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    padding: 35px 100px 0;
}

header a{
text-transform: capitalize;
font-weight: 900;
}

header h2{
    text-transform: uppercase;
}

header .nav{
    display: flex;
}

header .nav li{
    margin: 0 15px;

}

header .nav li:first-child{
    margin-left: 0;
}

header .nav li:last-child{
    margin-right: 0;
}

.navbar{

    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar ul li{

    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}


.navbar ul li a{

    text-decoration: none;
    color:aliceblue;
    text-transform: uppercase;
    font-weight: bold;

}

 .navbar ul li::after{
   
    content: '';
   height: 3px;
   width: 0%;
   background: rgb(207, 238, 238);
   position:absolute;
   left: 0;
   bottom: -10px;
   transition: 0.5s;    
}

 .navbar ul li:hover::after{
    width: 100%;
}


@media (max-width:1000px){
    header{
        padding: 20px 50px;
    }
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
    header h2{
        margin-bottom: 15px;
    }
    header .nav li{
        margin: 0 7px;
    }
}

.box{
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: aliceblue;
    text-align: center;
}
.box video{
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
object-fit: cover;
z-index: -1;
}


.box h1{
   color: aliceblue;
    margin-bottom: 15px;
    font-size: 65px;
    text-transform: uppercase;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.box h3{
    color:aliceblue;
margin-bottom: 40px;
font-size: 25px;
}

.box a.boxBtn{
    padding: 15px 35px;
    background: transparent;
    border-radius: 50px;
    color: aliceblue;
    text-transform: uppercase;
    border: 4px solid #fff;
    transition: all .5s;
}

.box a.boxBtn:hover{
    background: #fff;
    color: black;
}

@media (max-width: 800px){
    .box{
        min-height: 600px;
    }
    .box h1{
        font-size: 32px;
    }
    .box h3{
        font-size: 20px;
    }
    .box a.boxBtn{
        padding: 15px 40px;
    }
}


footer{
    background-color:rgba(0, 0, 0, 0.959);
}

.footerContainer{

    width: 100%;
    padding: 60px 20px 10px;

}

.socialIcons{

    display: flex;
    justify-content: center;

}

.socialIcons a{

text-decoration: none;
padding: 8px;
background-color: #79a59b;
margin: 8px;
border-radius: 50%;

}

.socialIcons a i{

    font-size: 4em;
    color:aliceblue;
    opacity: 0.9;
}

.socialIcons a:hover{

    background-color: #cca85f;
    transition: 0.5s;

}

.socialIcons a:hover i{

color: #d2efbe;
transition: 0.5s;

}

.footerNav{
    margin: 8px 0;
}

.footerNav ul{

    display: flex;
    justify-content: center;
    list-style-type: nonedisc;

}
 
.footerNav ul li a{

color: #fff;
margin: 16px;
text-decoration: none;
font-size: 1.2em;
opacity: 0.7;
transition: 0.5s;

}

.footerNav ul li a:hover{

  
    opacity: 1;

    
    }

    .footerBottom{

        background-color: #000;
        padding: 15px;
        text-align: center;

    }

    .footerBottom p{
color: aliceblue;

    }

    .designer{
opacity:0.7;
text-transform: uppercase;
letter-spacing: 0.5px;
font-weight: 250;
margin: 0px 5px;
text-decoration: azure;
    }

    @media (max-width: 700px){

        .footerNav ul{
    flex-direction: column;
        }
        .footerNav ul li{
            width: 100%;
            text-align: center;
            margin: 10px;
                }
    }

    .contact{

        max-width:50%;
        background-position: center;
         
        
    }


    .ServiceBG{

    width: 100%;
    height: 100vh;
    background-image: url(keyboardBG.gif);
    background-size:cover;
    background-position:center;
    background-attachment: scroll;

    } 

    .content{

        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center; 
        text-transform: capitalize;
        font-weight: 900;
        color: aliceblue;
        margin-bottom: 15px;
        text-shadow: 0 3px 4px rgba(0, 0, 0, 0.7);
        
        
        }

    .content h1{

        font-size: 70px;
        margin-top: 80px;
           }
       
           .content p{
       
       margin: 20px auto;
       font-weight: 100;
       line-height: 25px;
       
           }


    .row{

    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    
    }

    

           .Products{

            
            display: flex;
            justify-content: center;
            height: 100vh;
            background: whitesmoke;
            align-items:center;
            
            }

            .Products-col{

                flex-basis: 31%;
                background:#8a8a8aba;
                border-radius: 10px;
                margin-bottom: 5%;
                padding: 20px 12px;
                box-sizing: border-box;
            }
            
    .Products-col:hover{

    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);

    }


    @media(max-width:700px){

        .row{
    
            flex-direction: column;
        }
    }
  
    .container{
        display: flex;
    }

    .card{
        height: 500px;
        margin: 50px;
        box-shadow: 5px 5px 20px black;
        overflow: hidden;
    }
span{
    font-weight: bold;
}

.card:hover{
    cursor: pointer;
}
    img{
        height: 500px;
        width: 350px;
        border-radius: 3px;
        transition: .5s;
    }
    .intro{
        height: 70px;
        width: 350px;
        padding: 6px;
        box-sizing: border-box;
        position: absolute;
        bottom: 240px;
        background: rgb(27,27,27);
        color: white;
        transition: .5s;


    }

    p{

        font: 20px;
        margin: 20px;
        visibility: hidden;
        opacity:0 ;

    }

    h1{
        margin: 10px;
        font-size: 40px;
    }

    .card:hover .intro{
    height: 220px; 
    bottom: 240px; 
        background: black;

    }

    .card:hover p{

        opacity: 1;
        visibility: visible;

    }

    .card:hover img{

        transform: scale(1.1) rotate(-3deg);
    }


    